<h1>Forgot password</h1>

<%= form_tag password_reset_keys_path do %>
  <div class="form-group">
    <label for='email'>Email</label>
    <%= text_field_tag :email, nil, class: 'form-control', id: 'email', placeholder: 'Email' %>
  </div>
  <%= submit_tag 'Send password reset link', class: 'btn btn-primary' %>
<% end %>
