<table class="points">
  <thead>
    <tr>
      <th>student</th>
      <% @summary[:sheets].each do |sheet, points| %>
        <th><%= link_to sheet, course_point_path(@course, sheet) %></th>
      <% end %>
      <th>total</th>
    </tr>
  </thead>
  <% @summary[:students].each do |student| %>
    <tr>
      <td><%= student[:login] %></td>
      <% @summary[:sheets].each do |sheet, points| %>
        <td><%= "#{student[:points][sheet]}/#{points}" %></td>
      <% end %>
      <td><%= student[:total] %></td>
    </tr>
  <% end %>
</table>

