<table class="points">
  <thead>
    <tr>
      <th>student</th>
      <% @summary[:sheets].map{|s| s[:name]}.each do |sheet| %>
        <th>
          <%= link_to sheet, course_point_path(@course, sheet) %>
        </th>
      <% end %>
      <th>total</th>
    </tr>
  </thead>
  <% @summary[:students].each do |student| %>
    <tr>
      <td><%= student[:login] %></td>
      <% @summary[:sheets].each do |sheet, (k, v)| %>
        <% sheetname = sheet[:name] %>
        <% sheetpoints = sheet[:points] %>
        <td>
          <%= "#{student[:points][sheetname]}/#{sheetpoints}" %>
        </td>
      <% end %>
      <td><%= "#{student[:total]}/#{@summary[:total]}" %></td>
    </tr>
  <% end %>
</table>

