/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/db/files
/log/
/public/assets/
/public/system/
/tmp/
/doc/usermanual/
/doc/usermanual/screenshots
/config/site.yml
/config/newrelic.yml
/config/database.local.yml
/config/site_tailoring.rb
/config/extra_fields/*.rb
!/config/extra_fields/*.example.rb
/coverage
.DS_Store

/vendor/bundle

# Eclipse
/.project
/.buildpath
/.settings

# IntelliJ IDEA
/.idea

# Byebug history file
.byebug_history
