/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp/
/doc/usermanual/pages
/doc/usermanual/screenshots
/config/site.yml
/config/database.local.yml
/config/site_tailoring.rb

# Eclipse
/.project
/.buildpath
/.settings
