[submodule "ext/tmc-javalib"]
	path = ext/tmc-javalib
	url = git://github.com/testmycode/tmc-javalib.git
[submodule "ext/tmc-sandbox"]
	path = ext/tmc-sandbox
	url = git@github.com:testmycode/tmc-sandbox.git
