/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/db/files
/log/
/public/assets/
/public/system/
/doc/usermanual/*.html
/doc/usermanual/screenshots
/config/site.yml
/config/newrelic.yml
/config/database.local.yml
/config/site_tailoring.rb
/config/extra_fields/*.rb
!/config/extra_fields/*.example.rb
/config/email_templates

/coverage
.DS_Store

/vendor/bundle

# Eclipse
/.project
/.buildpath
/.settings

# IntelliJ IDEA
/.idea

# Byebug history file
.byebug_history

/tmp/*
!/log/.keep
!/tmp/.keep
# Ignore uploaded files in development
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
