language: ruby
sudo: required
git:
  submodules: false
env:
  global:
    - RAILS_ENV=test
services:
  - docker
before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
install:
  - docker-compose build
before_script:
  - docker-compose run web bin/rake db:create db:migrate RAILS_ENV=test
script:
  - docker-compose run web bin/spec_v8
