<h1>Setup - organization</h1>

<p>To start with your own courses, you need to have your own organization in the system.</p>

<h2>Join to existing organization</h2>

<p>
  If you organization already exist in the system, please select it from the list. Request will be sent
  to the current teachers, and they have to accept your request until you can continue.
</p>

<p><i>Todo: form of the current organizations</i></p>

<h2>Create new organization</h2>

<p>To create a new organization, you need to enter details of your organization.</p>
<p>
  <%= link_to 'Start', new_setup_create_organization_path %>
</p>