<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <p>Hello!</p>

    <p>You have requested deleting your mooc.fi account.</p>

    <p>Please proceed to the following link to continue the deletion process.</p>

    <a href="<%= @url %>"><%= @url %></a>

    <p>If you didn't request deleting your account, just ignore this message.</p>
  </body>
</html>
