<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <p>Hey there!</p>

  <p>Please click the following link to confirm that this is your email address for the mooc.fi account "<%= @user.login %>".</p>

  <a href="<%= @url %>"><%= @url %></a>

  <p>If this email doesn't make any sense, just ignore this message.</p>
</body>
</html>
