<h4>Add a new assistant (give username)</h4>

<%= form_tag :organization_course_assistants do %>
  <%= render 'shared/error_messages', target: @assistantship %>

  <div class="field">
    <%= text_field_tag :username %>
  </div>
  <div class="actions">
    <%= submit_tag 'Add a new assistant', class: 'btn btn-mini' %>
  </div>
<% end %>
