<h1>Assistants in <%= @course.title %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @assistants.each do |assistant| %>
    <tr>
      <td><%= assistant.username %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'form' %>
