
.highlighted { /* TODO: could do better but would probably need JS */
    outline: 5px solid red;
    /*border: 5px solid red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;*/
}

