
/* Basic commons */

h1 {
  color: #09214A;
  font-family: "Arial", sans-serif;
  font-size: 200%;
}

h2 {
  margin-left: 0.3em;
  color: #09214A;
  font-family: "Arial", sans-serif;
  font-size: 150%;
}

h3 {
  margin-left: 0.5em;
  color: #09214A;
  font-family: "Arial", sans-serif;
  font-size: 120%;
}

.list-title {
  font-weight: bold;
}

#content-area h2 {
  margin-top: 1.6em;
}

section {
  margin-left: 1.5em;
  margin-bottom: 2em;
}

a {
  color: #103D89;
  text-decoration: none;
}
  
a:visited { color: #103D89; }
a:hover { text-decoration: underline; }

.error,
.alert,
.failure,
.fail,
.dangerous {
  color: red !important;
}

.warning {
  color: #FF8000;
}

.notice,
.success,
.ok {
  color: green;
}

.minor-notice {
  color: black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.footnote {
  font-size: 8pt;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* Toplevel layout */

body {
  color: black;
  font-family: sans-serif;
  font-size: 80%;
  margin-top: 0;
}

body.default {
  background-color: #DDDDDD;
}

#everything {
  background-color: white;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 8%;
}

#everything > div {
  padding-left: 2%;
  padding-right: 2%;
}

#title-area {
  height: 100px;
  padding-bottom: 24px;
  background-color: #E9AF43;
}

#title-area > #titles {
  float: left;
}

#title-area > #titles > .branding {
  font-weight: bold;
  margin-left: 12px;
}

#title-area > #login {
  margin-top: 20px;
  float: right;
  text-align: right;
}

#title-area > #login > #logout-link {
  font-weight: bold;
}

#title-area > #login > #account-details {
  font-weight: bold;
  margin-top: 5pt;
}

#breadcrumb {
  clear: both;
  background-color: #F5F9FD;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  border-top: 1px #E8EBFB solid;
}

#breadcrumb .breadcrumb-resource {
  font-style: italic;
}

.flash {
  margin-top: 10px;
  font-weight: bold;
}

/* Form layout */

.field label {
  font-size: 90%;
  font-weight: bold;
}

.field label.label_first {
  display: block;
}

.field {
  margin-bottom: 14px;
}

div.actions {
  margin-top: 1.4em;
}

.suboption {
  margin-left: 3em;
}

/* Miscellaneous */

div.refresh-course-button {
  margin-bottom: 20px;
}

div.link-back {
  margin-top: 30px;
}

div.alternative-format-link {
  float: right;
}

div.submission-summary {
  font-weight: bold;
}

span.source-url {
  font-family: monospace;
  font-size: 120%;
  padding-left: 8pt;
}

span.git-branch {
  font-family: monospace;
  padding-left: 10pt;
}

tr.hidden * {
  color: gray;
}

div.stack-trace {
  font-family: monospace;
}

.scrollable {
  overflow: auto;
}

div.feedback-question {
  font-weight: bold;
  margin-bottom: 6pt;
}

div.feedback-source {
  font-style: italic;
}

/* Lists and tables */

table {
  border-collapse: collapse;
  width: 100%;
}

table > * > tr > td {
  padding: 6px 14px 6px 14px;
  border: 1px solid gray;
}

table > * > tr > th {
  padding: 6px 4px 6px 4px;
  border: 0;
}

tr.table-totals > td {
  font-weight: bold;
}

/* Points tables */

table.points {
  width: auto;
}

table.points tr.admin * {
  color: gray;
}

table.points > * > tr > td {
  text-align: center;
}

