
grant {
  permission java.io.FilePermission "${tmc.exercise_dir}/-", "read,write,delete";
  permission java.io.FilePermission "/tmp/-", "read,write,delete";
  permission java.util.PropertyPermission "*", "read";
  
  permission java.io.FilePermission "/dev/null", "read,write";
};

grant codeBase "file:${tmc.test_class_dir}/-" {
  permission java.lang.RuntimePermission "setIO";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "getClassLoader";
};

grant codeBase "file:${tmc.lib_dir}/*" {
  permission java.lang.RuntimePermission "exitVM.*";
  permission java.lang.RuntimePermission "setIO";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};

