
grant {
  permission java.util.PropertyPermission "*", "read,write";
  
  permission java.io.FilePermission "${tmc.exercise_dir}/-", "read,write,delete";
  permission java.io.FilePermission "/tmp/-", "read,write,delete";
  permission java.io.FilePermission "/dev/null", "read,write";
  
  // Mocking tools like PowerMock don't seem to put their code in any codeBase
  // we can refer to here so we'll give reflection-related permissions to
  // everything instead of only test code and libraries.
  permission java.io.FilePermission "${java.home}/-", "read";
  permission java.util.PropertyPermission "*", "read,write";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.lang.RuntimePermission "reflectionFactoryAccess";
};

grant codeBase "file:${tmc.test_class_dir}/-" {
  permission java.lang.RuntimePermission "setIO";
};

grant codeBase "file:${tmc.lib_dir}/*" {
  permission java.lang.RuntimePermission "exitVM.*";
  permission java.lang.RuntimePermission "setIO"; // For tmc-javalib

  permission java.lang.RuntimePermission "createClassLoader";
};

