<div id="page-presence">
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var url = '<%= j page_presence_path %>';
    var $widget = $('#page-presence');
    var current_path = '<%= j request.fullpath %>';
    var current_user = '<%= j current_user.username %>';

    function update() {
      $.ajax({
        url: url,
        dataType: 'json',
        data: {'_method': 'PUT', 'path': current_path},
        type: 'POST',
        success: function(data) {
          $widget.empty();

          function mkSpan(text, cls) {
            var span = document.createElement('span');
            $(span).text(text);
            if (cls) {
              span.className = cls;
            }
            return span;
          }

          if (data.length > 0) {
            $widget.append(mkSpan('Also viewing: ', 'title'));
            for (var i = 0; i < data.length - 1; ++i) {
              $widget.append(mkSpan(data[i], 'viewer')).append(', ');
            }
            $widget.append(mkSpan(data[data.length - 1], 'viewer'));
          }
        }
      });
    }

    update();
    setInterval(update, <%= (PagePresence::REFRESH_RATE * 1000).to_i %>);
  });
</script>
