<h1>Course stats</h1>
<ul>
  <li><%= link_to "Submissions over time", organization_course_stat_path(@organization, @course, 'submissions') %></li>
  <li><%= link_to "Submissions per hour", organization_course_stat_path(@organization, @course, 'submission_times') %></li>
</ul>
