<div class="jumbotron hero-unit-alert alert-danger">
  You can't delete this user, because they have submissions. Advice them to delete their own account by pressing "Request deleting account" -button themselves from their User settings.
  <br>
  <br>
  <strong>Make sure that they realize they will lose their progress in all of their courses, and can't ever get any certificates etc. for anything they've done after account deletion.</strong>
</div>
