
### Site appearance ###

# You can make local adjustments by creating a site.yml file and overriding the settings here.

# The subtitle to display on every page. May contain HTML.
# Example: HELSINKI UNIVERSITY<br />Department of Computer Science
site_subtitle:

# Session cookie name. If you have multiple deployments in different subdirectories then
# set this option differently in each or you'll lose your session whenever you move between them
# in your browser.
session_cookie_key: _session_id

### Server and network setup ###

# In many installations, db/files/courses must be available to the apache user.
# Either give everyone read access to it (the default) or give the tmc server user
# and the apache user a common group and set chmod: g+rX and chgrp: the-common-group.
git_repos_chmod: a+rX
git_repos_chgrp:

# The base deployment path, e.g. if you are deploying to "http://my.site.com/tmc"
# then this should be "/tmc".
base_path: /

# A remote sandbox will need to contact the web server when it's done processing.
# Enter the baseurl of the webapp with which the sandboxes will find the web server.
baseurl_for_remote_sandboxes: http://<%= ENV.fetch('HOST', 'localhost') %>:3000/

# List at least one sandbox instance here (in site.yml).
#
# Any URL will do. Example:
# http://user:password@sandbox.example.com:3001/path/to/the/sandbox/service
#
# The default points to the local instance that may be started with
# `rvmsudo ext/tmc-sandbox/web/webapp.rb run`.
#
remote_sandboxes:
  - <%= ENV.fetch('SANDBOX_URL', 'http://localhost:3001/') %>

# List of spyware server URLs. See https://github.com/testmycode/tmc-spyware-server
# The URLs should work from both clients and the server.
# This list will be delivered to the client in /courses.json.
# The server may also send some data to the spyware servers.
#
# The default points to the dev instance that may be started with
# `ext/tmc-spyware-server/dev.rb`
#
spyware_servers:
  - http://localhost:3101/

# The URL and publish key to a tmc-comet server.
# The publish key and the baseurl of this server must also be set in
# ext/tmc-comet/config.properties (see tmc-comet's readme).
comet_server:
  # The URL is used to access the comet server as well as to serve
  # javascript URLs to the web, so it must be accessible from the outside as well.
  url: http://localhost:8080/
  # The backend key is used to authenticate with the comet server
  backend_key: set_me_in_site_yml
  # Used to distinguish this server instance from others.
  # A single tmc-comet instance can serve more than one TMC server instance.
  my_baseurl: http://localhost:3000/

# The memory limit for a submission in megabytes.
# Currently this should be configured to be 32M lower than the
# instance_ram setting of sandboxes. For now all this setting
# does is send the memory limit to the NetBeans plugin
# for use in local tests.
memory_limit:

### E-mails ###
emails:
  baseurl: http://localhost:3000/
  from: noreply@example.com
  email_code_reviews_by_default: false


### Enable or disable features ###

# Allow people to create user accounts
enable_signup: true


### Model solutions ###

# Note that a model solution can always be made visible
# by setting `solution_visible_after` in a metadata.yml
# even if the settings below are set to false.

# Whether to show the model solution immediately after
# a student has completed the exercise.
#
# The NetBeans plugin will not advertise the model solution
# if this is set to false.
show_model_solutions_when_exercise_completed: true

# Whether to show the model solution when the exercise has expired.
show_model_solutions_when_exercise_expired: false

# Allow authorized people to access pghero
pghero_enabled: true

### IDE integration ###

# A list of valid clients. Leave empty to not check.
#
# IDE plugin updates may be forced by two things:
#   1. A backwards-incompatible change in the server protocol.
#   2. A minimum version number setting here (if not empty).
valid_clients:
  - name: idea_plugin
    min_version: 0.0.1
  - name: tmc_cli
    min_version: 0.0.1
  - name: netbeans_plugin
    min_version: 0.2.22
  - name: tmc.py
    min_version: 0.3.0

## Cross Origin Requests for /auth ##

# A list of allowed origins for auth api.
cors_origins:
  - cs.helsinki.fi

### Help links ###
# This link is for the page, which contains information how the
# students can get started.
course_instruction_page: http://mooc.fi/courses/general/ohjelmointi/

# Teacher manual link
teacher_manual_url: http://testmycode-usermanual.github.io/usermanual/teachers.html
