<h4>Add a new teacher (give username)</h4>

<%= form_tag :organization_teachers do %>
    <%= render 'shared/error_messages', target: @teachership %>

    <div class="field">
      <%= text_field_tag :username %>
    </div>
    <div class="actions">
      <%= submit_tag 'Add a new teacher', class: 'btn btn-mini' %>
    </div>
<% end %>