<h1>Teachers in <%= @organization.name %></h1>

<p>
  All teachers have same full permissions to whole organization. If you want to grant permissions only
  for single courses, you should add course-specific assistants instead.
</p>

<%= render 'form' %>

<br>

<h4>Current teachers</h4>

<table class="table table-striped table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Remove</th>
  </tr>
  </thead>

  <tbody>
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.email %></td>
      <td><%= link_to 'Remove', organization_teacher_path(@organization, teacher.teachership(@organization)), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
