<table id="<%= locals[:list_id] %>" class="course-list table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Course
      </th>
    </tr>
  </thead>
  <tbody>
    <% locals[:courses].each do |course| %>
      <tr class="course <% if course.hidden? || course.disabled? %>hidden-course<% end %>">
        <td>
          <%= link_to course.name, organization_course_path(@organization, course) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--%= use_datatables('table.course-list#' + locals[:list_id], :bPaginate => false, :bFilter => false) %-->

<% if signed_in? %>
  <div class="alternative-format-links">[<%= link_to "json", "#{organization_courses_path organization_id: @organization.slug, format: :json, api_version: ApiVersion::API_VERSION}" %>]</div>
<% end %>
