<table id="<%= locals[:list_id] %>" class="course-list table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Course
      </th>
      <% if current_user.administrator? %>
        <th>
          Source type
        </th>
        <th>
          Source URL
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% locals[:courses].each do |course| %>
      <tr class="course <% if course.hidden? %>hidden<% end %>">
        <td>
          <%= link_to course.name, course_path(course) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? %>
  <div class="alternative-format-links">[<%= link_to "json", "#{courses_path :format => :json, :api_version => ApplicationController::API_VERSION}" %>]</div>
<% end %>