<table class="course-list">
  <thead>
    <tr>
      <th>
        Choose course
      </th>
      <% if signed_in? %>
        <th>
          Repository address
        </th>
        <th>
        </th>
        <th>
        </th>
      <% end %>
    </tr>
  </thead>
<% locals[:courses].each do |course| %>
  <tbody>
    <tr>
      <td>
        <%= link_to course.name, course_exercises_path(course) %>
      </td>
      <% if signed_in? %>
        <td>
          <%= course.bare_url %>
        </td>
        <td>
          <%= link_to 'refresh', refresh_course_path(course) %>
        </td>
        <td>
          <%= link_to 'remove', course_path(course), :method => :delete, :confirm => 'Really truly delete this course?' %>
        </td>
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>
