<% if report.successful? %>
  <p class="success">Refresh successful.</p>
<% else %>
  <p class="error">Refresh failed and rolled back.</p>
<% end %>

<ul>
  <% for error in report.errors %>
    <li class="error"><%= simple_format error %></li>
  <% end %>
  <% for warning in report.warnings %>
    <li class="warning"><%= simple_format warning %></li>
  <% end %>
  <% for notice in report.notices %>
    <li class="minor-notice"><%= simple_format notice %></li>
  <% end %>
</ul>

<hr />
