<h2>
  <% if defined? title %>
    <%= title %>
  <% else %>
    Courses
  <% end %>
</h2>

<% if (can? :teach, @organization) && !@expired_courses.empty? %>
  <h3>Ongoing courses</h3>
<% end %>
<% unless @ongoing_courses.empty? %>
  <div class="row-fluid">
    <div class="span12">
      <%= render 'courses/list', :locals => { organization_id: @organization.slug, courses: @ongoing_courses, list_id: 'ongoing-courses' } %>
    </div>
  </div>
<% else %>
  <p>No available courses.</p>
<% end %>

<% if (can? :teach, @organization) && !@expired_courses.empty? %>
  <h3>Expired courses</h3>
  <div class="row-fluid">
    <div class="span12">
      <%= render 'courses/list', :locals => { organization_id: @organization.slug, courses: @expired_courses, list_id: 'expired-courses' } %>
    </div>
  </div>
<% end %>

<% if can? :teach, @organization %>
  <%= link_to 'Create New Course', organization_course_templates_path(@organization), class: "btn btn-mini btn-warning" %>
<% end %>
