<h1>Welcome to TMC</h1>

<% if can? :view, :participants_list %>
  <%= link_to 'List of registered users', participants_path %>
<% end %>

<h2>Courses</h2>


<% if current_user.administrator? && !@expired_courses.empty? %>
  <h3>Ongoing courses</h3>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <%= render 'list', :locals => { :courses => @ongoing_courses, :list_id => 'ongoing-courses' } %>
  </div>
</div>

<% if current_user.administrator? && !@expired_courses.empty? %>
  <h3>Expired courses</h3>
  <div class="row-fluid">
    <div class="span12">
      <%= render 'list', :locals => { :courses => @expired_courses, :list_id => 'expired-courses' } %>
    </div>
  </div>
<% end %>

<% if can? :create, Course %>
  <div class="row-fluid">
    <div class="span12">
      <%= link_to 'Create New Course', new_course_path, class: "btn btn-mini btn-warning" %>
    </div>
  </div>
<% end %>
