<h2>Courses</h2>

<% if (can? :teach, @organization) && !@expired_courses.empty? %>
  <h3>Ongoing courses</h3>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <%= render 'courses/list', :locals => { organization_id: @organization.slug, courses: @ongoing_courses, list_id: 'ongoing-courses' } %>
  </div>
</div>

<% if (can? :teach, @organization) && !@expired_courses.empty? %>
  <h3>Expired courses</h3>
  <div class="row-fluid">
    <div class="span12">
      <%= render 'courses/list', :locals => { organization_id: @organization.slug, courses: @expired_courses, list_id: 'expired-courses' } %>
    </div>
  </div>
<% end %>


<% if current_user.administrator? %>
  <%= link_to 'Create New Course', new_organization_course_path(@organization), class: "btn btn-mini btn-warning" %>
<% end %>

