
<h1>
  <%= @course.name %>
</h1>

<h2>All exercises</h2>

<section>
  <div class="refresh-course-button">
    <%= button_to 'Refresh from repository', refresh_course_path(@course) %>
  </div>

  <%= render :partial => 'exercises/list', :locals => { :course => @course, :exercises => @exercises } %>

</section>

<h2>Latest submissions</h2>

<section>
  <%= render :partial => 'submissions/list', :locals => { :submissions => @submissions } %>
</section>

