<h1>Setup - organization</h1>

<p>To start with your own courses, you need to have your own organization in the system.</p>

<h2>Join to existing organization</h2>

<p>
  If your organization already exists in the system, please contact the person who is in the charge
  of previous courses, and ask for new teacher permissions.
</p>

<h2>Create new organization</h2>

<p>To create a new organization, you need to enter details of your organization.</p>
<p>
  <%= link_to 'Start', new_setup_create_organization_path, class: 'btn' %>
</p>
