<h1>Create a new organization</h1>

<p>
  Please enter the following information. Fields marked with * are mandatory.
</p>

<%= render partial: 'form', locals: { url: setup_organizations_path, new: true } %>
