$breadcrumb-grey: #e9ecef;

.breadcumb-nav {
  background-color: $breadcrumb-grey;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;

  .breadcrumb {
    flex: 1;
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}
