/* Submissions status*/
@import "_footer";
@import "_breadcrumb";

.error,
.failure,
.fail {
  color: red !important;
}

.success,
.ok {
  color: green;
}

.hidden_status {
  color: orange;
}

/* Basic commons */

.small{
  font-size: 0.5em;
}

.review-required,
.review-requested {
  font-weight: bold;
}

.footnote {
  font-size: 8pt;
}

.fine-print {
  font-size: 8pt;
  color: #444444;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  border-radius: 0.25rem;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.transfer-effect {
  border: 2px dotted gray;
}

.medium-drop-shadow {
  box-shadow: 2px 3px 4px 1px #696969;
}

.big-drop-shadow {
  box-shadow: 3px 4px 5px 2px #696969;
}

.dialog-buttons {
  position: absolute;
  bottom: 0;
  right: 1em;
}

/* bootstrapping */
body .well-white {
  background-color: white;
}

body.default {
  background-color: #fcfcfc;
}

html, body {
  height: 100%;
  margin: 0;
}

#page-presence {
  float: right;
}

/* Miscellaneous */
div.repo-list{
  padding-top: 30px;
}

div.refresh-course-button {
  margin-bottom: 20px;
}

div.link-back {
  margin-top: 30px;
}

div.alternative-format-links {
  float: right;
}

div.submission-summary {
  font-weight: bold;
}

span.source-url {
  font-family: monospace;
  font-size: 120%;
  padding-left: 8pt;
}

span.git-branch {
  font-family: monospace;
  padding-left: 10pt;
}

tr.hidden-organization *,
tr.hidden-course * {
  color: gray;
  font-color: gray;
}

div.stack-trace {
  margin-top: 10px;
  font-family: monospace;
}

.scrollable {
  width: 95vw;
  height: 70vh;
  align-self: left;
  overflow: auto;
}

div.feedback-question {
  font-weight: bold;
  margin-bottom: 6pt;
}

div.feedback-source {
  font-style: italic;
}

form.single-button {
  margin-bottom: 0px; /* overrides bootstrap's 20px */
}

/* Lists and tables */

table {
  border-collapse: collapse;
  width: 100%;
}

table > * > tr > td {
  padding: 6px 14px 6px 14px;
}

table > * > tr > th {
  padding: 6px 4px 6px 4px;
  border: 0;
}

table.points > * > tr > th {
  text-align: center;
  max-width: 5rem;
  word-wrap: break-word;
}

table.points > * > tr > td {
  text-align: center;
}

tr.table-totals > td {
  font-weight: bold;
}

/* Points tables */

table.points {
  min-width: 100%;
}

table.points tr.admin * {
  color: gray;
}

table.points > * > tr > td {
  text-align: center;
}

table.points > tbody tr:nth-child(odd) {
  background-color: lighten($breadcrumb-grey, 4%);
}

/* Code reviews */

.code-review {
  border: 1px #CCCCCC solid;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 2em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.code-review.being-edited {
  box-shadow: 0 0 4px 2px #47A6FF;
}

.reviewer {
  font-weight: bold;
}

.points-by-review span.label {
  font-weight: bold;
}

.code-review .status-buttons {
  float: right;
  padding-right: 0.3em;
}

#review-form {
  height: 95%;
}

#review-form > form {
  height: 100%;
}

#review-form textarea {
  width: 100%;
  height: 60%;
  margin: auto;
  resize: none; /* We do our own resizing */
}

#review-form .notification-options {
  margin-bottom: 1.5em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#review-form form.editing-existing-review .notification-options {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#review-form-reopen-handle {
  position: fixed;
  top: 100%;
  left: 0;
  margin-left: 10px;
  margin-top: -50px;
  z-index: 1000;
}

#review-form .buttons {
  margin-top: 0.6em;
}

#dismiss-review-form {
  float: right;
}

.code-review .buttons {
  float: right;
}

.red {
  background: #ff0000;
}

.green {
  background: #009900;
  text-align: center;
}

.exercise-status {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
}

.exercise-status .green, .exercise-status .red {
  height: 100%;
}

.exercise-status > * {
  float: left;
  height: 12pt;
  text-align: center;
}

.exercise-status > :first-child {
  border-radius: 6px 0 0 6px;
}

.exercise-status > :last-child {
  border-radius: 0 6px 6px 0;
}

.exercise-status > :first-child:last-child {
  border-radius: 6px;
}

.exercise-status .green span {
  color: #ffffff;
  font-style: italic;
}

.reply-to-feedback {
  border-style:solid;
  border-spacing: 10px;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  margin: 12px 12px 12px 12px;
  padding: 10px 2px 2px 2px;
}

.reply-to-feedback span {
  padding-top: 4px;
  padding-left: 10px;
}

/* Bootstrap adjustments */

#everything .panelpanel .panel-default {
  border: none;
}

.dataTables_wrapper table.table {
  margin-bottom: 0;
}
.dataTables_filter label {
  margin-top: 4px;
  margin-bottom: 0;
}

/* Make things tight - used in submission view */
.dl-compact.dl-horizontal dd {
  margin-left: 80px;
}

.dl-compact.dl-horizontal dt {
  width: 70px;
}
.underlined {
  border-bottom: 1px solid lightgrey !important;
  margin-bottom: 25px !important;
 }

.no-scroll {
  overflow: hidden;
}

tr>.align-right {
  text-align: right;
}
.borderless td {
  border: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.no-wrap {
  white-space: nowrap;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
  width: 100px;
  height: 100px;
  margin: 1em;
}

.admin-panel, .teacher-panel {
    padding: 5px;
    margin-bottom: 18px;
}

.admin-panel h4, .teacher-panel h4 {
    text-align: center;
}

.admin-panel ul li, .teacher-panel ul li {
    padding: 2px;
}

.admin-panel {
    background-color: #a9dba9;
}

.teacher-panel {
    background-color: #dff0d8;
}

.navbar {
  margin-bottom: 1rem;
}

td.hljs-ln-numbers {
	user-select: none;

	text-align: center;
	color: #ccc;
	//border-right: 1px solid #CCC;
	vertical-align: top;
	padding-right: 5px;

	/* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
	padding-left: 10px !important;
}

.course-card-link:hover {
  text-decoration: none;
}

.course-card {
  color: black;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    filter: brightness(0.95);
    transition: all .2s;
  }
}

.nobullets {
  list-style: none;
  padding-left: 0;
}


.progress-label {
  float: left;
  margin-right: 1rem;
  min-width: 200px;
}

#content-area {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#filter-form input[type="checkbox"], select {
  margin: 0.2rem;
}
