.organization-card, #all-orgs-list a {
  color: black !important;
}

.organization-card-link:hover {
  text-decoration: none;
}

.organization-card .card-body, .small-organization-card .card-body {
  display: flex;
  align-items: center;
}

.organization-card:hover, .small-organization-card:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  filter: brightness(0.95);
  transition: all .2s;
}

$image-size: 6rem;

.organization-card .card-body img {
  margin-right: 1rem;
  width: $image-size;
  height: $image-size;
}

.small-organization-card .card-body img {
  margin-right: 1rem;
  width: $image-size/2;
  height: $image-size/2;
}

.cover-content {
  padding-bottom: 11rem;
  padding-top: 7rem;
  text-align: center;
}

.cover {
  /*background-image: linear-gradient(85deg, var(--blue) 0%, #80d0c7 100%);*/
  background-image: radial-gradient(farthest-corner at 40px 40px,
  var(--blue) 0%, rgb(57, 66, 190) 100%);
  /*background-color: var(--primary);*/

  color: white;
  position: relative;
  top: 0px;
}

#everything h1, #everything h2 {
  padding: 2rem 0;
  text-align: center;
}

.text-bitup {
  position: relative;
  top: -2px;
}

.text-littlebitup {
  position: relative;
  top: -1px;
}
