@import "_breadcrumb";

.course-point-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.point-cell {
  border: 1px solid darken($breadcrumb-grey, 5%);
}

.points-container {
  align-self: center;
}
