.course-point-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point-cell {
  border: 1px solid black;
  text-align: center;
}

.points-container {
  align-self: center;
}

