.course-point-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.point-cell {
  border: 1px solid black;
}

.points-container {
  align-self: center;
}
