.login-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  height: 300px;
  width: 500px;
  margin: 30px auto;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-form-button {
  width: 100%;
  margin-bottom: 20px;
}
