/* ...
*= require_self
*/

/* 2022-01-01
  BUG: Mozilla inserts newlines in text copied from code listing [https://bugzilla.mozilla.org/show_bug.cgi?id=1625534]
  FIX: unset *user-select on mozilla browsers
  (Uses CSS-hack described: [https://bugzilla.mozilla.org/show_bug.cgi?id=1446470])
*/

@-moz-document url-prefix() {
  td.hljs-ln-numbers {
    -webkit-user-select: unset;
    -moz-user-select: unset;
    -ms-user-select: unset;
    user-select: unset;
  }
}

/* 2022-01-01
  BUG: Mozilla inserts newlines when copying text before div blocks.
  FIX: set display: inline-block on div.hljs-ln-line
*/

div.hljs-ln-line {
  display: inline-block;
}
