
<% if current_user.administrator? %>
  <section>
    <h2>Administration</h2>
    <% unless @course.reviews_required.empty? %>
      <section>
        <h3>Submissions requiring review</h3>
        <%= show_submission_list @course.reviews_required, :table_id => 'reviews_required', :show_review_admin_column => true %>
      </section>
    <% end %>

    <% unless @course.reviews_requested.empty? %>
      <section>
        <h3>Review requests</h3>
        <%= show_submission_list @course.reviews_requested, :table_id => 'reviews_requested', :show_review_admin_column => true %>
      </section>
    <% end %>
  </section>
  <hr />
<% end %>

<section>
  <h2>My code reviews</h2>
  <% if current_user.administrator? %>
    <p class="fine-print">(this is what you would see as a non-administrator)</p>
  <% end %>
  <% if @my_reviews.empty? %>
    <p>No code reviews yet.</p>
  <% else %>
      <%= show_submission_list @my_reviews, :table_id => 'my_reviews', :show_student_column => false, :show_review_column => true %>
  <% end %>
</section>
