
<% unless @course.reviews_required.empty? %>
  <section>
    <h2>Submissions requiring review</h2>
    <%= show_submission_list @course.reviews_required, :table_id => 'reviews_required', :show_review_column => true %>
  </section>
<% end %>

<% unless @course.reviews_requested.empty? %>
  <section>
    <h2>Review requests</h2>
    <%= show_submission_list @course.reviews_requested, :table_id => 'reviews_requested', :show_review_column => true %>
  </section>
<% end %>
