
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', @exercise.exercise_file %></li>
</ul>

<h2>Submit answer</h2>

<section>
  <%= render 'submissions/form' %>
</section>


<% if signed_in? %>
  <h2>Submissions</h2>

  <section>
    <% if !@submissions.empty? %>
      <%=
        render :partial => 'submissions/list', :locals => {
          :course => @course,
          :exercise => @exercise,
          :submissions => @submissions
        }
      %>
    <% else %>
      <p>No submissions yet.</p>
    <% end %>
  </section>
<% end %>

